In [50]:
import pandas as pd
import os
import glob

In [54]:
os.chdir('../')

In [55]:
os.listdir()

['.DS_Store', 'univariate', 'bivariate']

In [56]:
os.chdir('results')

FileNotFoundError: [Errno 2] No such file or directory: 'results'

In [57]:
os.chdir('univariate')

In [58]:
a = glob.glob('*.csv')

In [59]:
a

['cheby_first_kind_monomial.csv',
 'monomial_cheby_second_kind.csv',
 'jacobi_a_0_b_2.0_legendre.csv',
 'legendre_cheby_second_kind.csv',
 'jacobi_a_0_b_0_legendre.csv',
 'monomial_jacobi_a_0_b_2.0.csv',
 'cheby_second_kind_legendre.csv',
 'legendre_legendre.csv',
 'monomial_cheby_first_kind.csv',
 'cheby_second_kind_cheby_second_kind.csv',
 'cheby_first_kind_cheby_second_kind.csv',
 'monomial_monomial.csv',
 'jacobi_a_0_b_2.0_monomial.csv',
 'jacobi_a_0_b_2.0_cheby_second_kind.csv',
 'cheby_first_kind_legendre.csv',
 'jacobi_a_0_b_2.0_cheby_first_kind.csv',
 'jacobi_a_0_b_2.0_jacobi_a_0_b_2.0.csv',
 'legendre_cheby_first_kind.csv',
 'monomial_legendre.csv',
 'legendre_jacobi_a_0_b_2.0.csv',
 'cheby_second_kind_jacobi_a_0_b_2.0.csv',
 'jacobi_a_0_b_0_monomial.csv',
 'cheby_first_kind_cheby_first_kind.csv',
 'cheby_second_kind_monomial.csv',
 'legendre_monomial.csv',
 'cheby_first_kind_jacobi_a_0_b_2.0.csv',
 'cheby_second_kind_cheby_first_kind.csv']

In [60]:
df = pd.DataFrame(['Kind', 'Degree', 'Condition Number'])

In [61]:
b = pd.read_csv(a[0])

In [62]:
b

   degree       con_num
0       2 3.6742346e+00
1       4 1.1014696e+01
2       6 4.6035892e+01
3       8 2.4395198e+02
4      10 1.2307757e+03
5      12 6.8057174e+03
6      14 3.6438525e+04

In [63]:
df = pd.DataFrame()
for r in a:
    kind = r.replace('.csv', '')
    b = pd.read_csv(r)
    b.rename(columns={"degree": "Degree", "con_num": "Condition Number"})
    b['Kind'] = kind
    df = df.append(b)

In [66]:
df.loc[(df['degree'] == 8)].sort_values('Kind')

   degree        con_num                                 Kind
3       8  1.6377406e+01    cheby_first_kind_cheby_first_kind
3       8  2.2771550e+01   cheby_first_kind_cheby_second_kind
3       8 -1.0000000e+00    cheby_first_kind_jacobi_a_0_b_2.0
3       8  1.3558274e+01            cheby_first_kind_legendre
3       8  2.4395198e+02            cheby_first_kind_monomial
3       8  5.3861887e+01   cheby_second_kind_cheby_first_kind
3       8  1.7604737e+01  cheby_second_kind_cheby_second_kind
3       8 -1.0000000e+00   cheby_second_kind_jacobi_a_0_b_2.0
3       8  2.9399442e+01           cheby_second_kind_legendre
3       8  4.4894498e+02           cheby_second_kind_monomial
3       8  1.8699677e+01              jacobi_a_0_b_0_legendre
3       8  8.5482089e+01              jacobi_a_0_b_0_monomial
3       8  2.3775295e+04    jacobi_a_0_b_2.0_cheby_first_kind
3       8  2.8198489e+06   jacobi_a_0_b_2.0_cheby_second_kind
3       8  7.5286636e+02    jacobi_a_0_b_2.0_jacobi_a_0_b_2.0
3       8  2.2747367e+09            jacobi_a_0_b_2.0_legendre
3       8 -1.0000000e+00            jacobi_a_0_b_2.0_monomial
3       8  3.9905724e+01            legendre_cheby_first_kind
3       8  3.2969591e+01           legendre_cheby_second_kind
3       8 -1.0000000e+00            legendre_jacobi_a_0_b_2.0
3       8  1.8699677e+01                    legendre_legendre
3       8  8.5482089e+01                    legendre_monomial
3       8  9.2931794e+02            monomial_cheby_first_kind
3       8  7.3426803e+02           monomial_cheby_second_kind
3       8 -1.0000000e+00            monomial_jacobi_a_0_b_2.0
3       8  3.4094072e+02                    monomial_legendre
3       8  1.2114041e+01                    monomial_monomial

In [64]:
df_eight = df.loc[(df['degree'] == 8)].sort_values('Kind')

In [68]:
df_eight.loc[df_eight['Kind'].isin(knids)]

   degree       con_num                                 Kind
3       8 1.6377406e+01    cheby_first_kind_cheby_first_kind
3       8 2.2771550e+01   cheby_first_kind_cheby_second_kind
3       8 1.3558274e+01            cheby_first_kind_legendre
3       8 2.4395198e+02            cheby_first_kind_monomial
3       8 5.3861887e+01   cheby_second_kind_cheby_first_kind
3       8 1.7604737e+01  cheby_second_kind_cheby_second_kind
3       8 2.9399442e+01           cheby_second_kind_legendre
3       8 4.4894498e+02           cheby_second_kind_monomial
3       8 3.9905724e+01            legendre_cheby_first_kind
3       8 3.2969591e+01           legendre_cheby_second_kind
3       8 1.8699677e+01                    legendre_legendre
3       8 8.5482089e+01                    legendre_monomial
3       8 9.2931794e+02            monomial_cheby_first_kind
3       8 7.3426803e+02           monomial_cheby_second_kind
3       8 3.4094072e+02                    monomial_legendre
3       8 1.2114041e+01                    monomial_monomial

In [34]:
os.chdir('../bivariate')

In [35]:
a = glob.glob('*.csv')

In [36]:
bdf = pd.DataFrame()
for r in a:
    kind = r.replace('.csv', '')
    b = pd.read_csv(r)
    b.rename(columns={"degree": "Degree", "con_num": "Condition Number"})
    b['Kind'] = kind
    bdf = bdf.append(b)

In [48]:
pd.set_option('display.float_format', '{:.7e}'.format)

In [67]:
knids = bdf.loc[bdf['degree'] == 8].sort_values('Kind')['Kind']

In [49]:
bdf.loc[bdf['degree'] == 8].sort_values('Kind')

   degree       con_num                                 Kind
3       8 8.2741589e+01    cheby_first_kind_cheby_first_kind
3       8 1.2690227e+02   cheby_first_kind_cheby_second_kind
3       8 7.2356027e+01            cheby_first_kind_legendre
3       8 8.2003242e+02            cheby_first_kind_monomial
3       8 4.7372727e+02   cheby_second_kind_cheby_first_kind
3       8 9.5693596e+01  cheby_second_kind_cheby_second_kind
3       8 2.0181265e+02           cheby_second_kind_legendre
3       8 1.3583584e+03           cheby_second_kind_monomial
3       8 1.9649165e+02            legendre_cheby_first_kind
3       8 1.4316038e+02           legendre_cheby_second_kind
3       8 9.3276473e+01                    legendre_legendre
3       8 3.0351806e+02                    legendre_monomial
3       8 3.8821664e+03            monomial_cheby_first_kind
3       8 2.2060581e+03           monomial_cheby_second_kind
3       8 1.3954908e+03                    monomial_legendre
3       8 6.0303522e+01                    monomial_monomial

In [21]:
a

['cheby_first_kind_cheby_first_kind',
 'cheby_first_kind_cheby_second_kind',
 'cheby_first_kind_legendre',
 'cheby_first_kind_monomial',
 'cheby_second_kind_cheby_first_kind',
 'cheby_second_kind_cheby_second_kind',
 'cheby_second_kind_legendre',
 'cheby_second_kind_monomial',
 'legendre_cheby_first_kind',
 'legendre_cheby_second_kind',
 'legendre_legendre',
 'legendre_monomial',
 'monomial_cheby_first_kind',
 'monomial_cheby_second_kind',
 'monomial_legendre',
 'monomial_monomial']