In [6]:
import pandas as pd
import os
import glob

In [4]:
os.listdir()

['monomial_basis.py',
 'monomial.py',
 '.DS_Store',
 'Coefficient_Moment_Matrix.ipynb',
 'polynomial_base_solver.ipynb',
 'exp_runner.py',
 'Make table.ipynb',
 '__pycache__',
 'coeff_moment_matrix.py',
 'results',
 'univariate',
 '.ipynb_checkpoints',
 'src']

In [5]:
os.chdir('results')

In [9]:
os.chdir('univariate')

In [10]:
a = glob.glob('*.csv')

In [11]:
a

['cheby_first_kind_monomial.csv',
 'monomial_cheby_second_kind.csv',
 'jacobi_a_0_b_2.0_legendre.csv',
 'legendre_cheby_second_kind.csv',
 'jacobi_a_0_b_0_legendre.csv',
 'monomial_jacobi_a_0_b_2.0.csv',
 'cheby_second_kind_legendre.csv',
 'legendre_legendre.csv',
 'monomial_cheby_first_kind.csv',
 'cheby_second_kind_cheby_second_kind.csv',
 'cheby_first_kind_cheby_second_kind.csv',
 'monomial_monomial.csv',
 'jacobi_a_0_b_2.0_monomial.csv',
 'jacobi_a_0_b_2.0_cheby_second_kind.csv',
 'cheby_first_kind_legendre.csv',
 'jacobi_a_0_b_2.0_cheby_first_kind.csv',
 'jacobi_a_0_b_2.0_jacobi_a_0_b_2.0.csv',
 'legendre_cheby_first_kind.csv',
 'monomial_legendre.csv',
 'legendre_jacobi_a_0_b_2.0.csv',
 'cheby_second_kind_jacobi_a_0_b_2.0.csv',
 'jacobi_a_0_b_0_monomial.csv',
 'cheby_first_kind_cheby_first_kind.csv',
 'cheby_second_kind_monomial.csv',
 'legendre_monomial.csv',
 'cheby_first_kind_jacobi_a_0_b_2.0.csv',
 'cheby_second_kind_cheby_first_kind.csv']

In [22]:
df = pd.DataFrame(['Kind', 'Degree', 'Condition Number'])

In [17]:
b = pd.read_csv(a[0])

In [18]:
b

   degree       con_num
0       2      3.674235
1       4     11.014696
2       6     46.035892
3       8    243.951983
4      10   1230.775668
5      12   6805.717379
6      14  36438.525157

In [25]:
df = pd.DataFrame()
for r in a:
    kind = r.replace('.csv', '')
    b = pd.read_csv(r)
    b.rename(columns={"degree": "Degree", "con_num": "Condition Number"})
    b['Kind'] = kind
    df = df.append(b)

In [29]:
df.loc[df['degree'] == 14].sort_values('Kind')

   degree       con_num                                 Kind
6      14  2.673064e+01    cheby_first_kind_cheby_first_kind
6      14  4.463266e+01   cheby_first_kind_cheby_second_kind
6      14 -1.000000e+00    cheby_first_kind_jacobi_a_0_b_2.0
6      14  2.428417e+01            cheby_first_kind_legendre
6      14  3.643853e+04            cheby_first_kind_monomial
6      14  1.701201e+02   cheby_second_kind_cheby_first_kind
6      14  3.629213e+01  cheby_second_kind_cheby_second_kind
6      14 -1.000000e+00   cheby_second_kind_jacobi_a_0_b_2.0
6      14  7.221286e+01           cheby_second_kind_legendre
6      14  5.248902e+04           cheby_second_kind_monomial
6      14  3.691980e+01              jacobi_a_0_b_0_legendre
6      14  8.260979e+03              jacobi_a_0_b_0_monomial
6      14  1.234057e+09    jacobi_a_0_b_2.0_cheby_first_kind
6      14  4.619141e+04   jacobi_a_0_b_2.0_cheby_second_kind
6      14  1.069450e+04    jacobi_a_0_b_2.0_jacobi_a_0_b_2.0
6      14  9.538025e+04            jacobi_a_0_b_2.0_legendre
6      14 -1.000000e+00            jacobi_a_0_b_2.0_monomial
6      14  9.981569e+01            legendre_cheby_first_kind
6      14  6.871414e+01           legendre_cheby_second_kind
6      14 -1.000000e+00            legendre_jacobi_a_0_b_2.0
6      14  3.691980e+01                    legendre_legendre
6      14  8.260979e+03                    legendre_monomial
6      14  8.866559e+04            monomial_cheby_first_kind
6      14  1.040619e+05           monomial_cheby_second_kind
6      14 -1.000000e+00            monomial_jacobi_a_0_b_2.0
6      14  4.401169e+04                    monomial_legendre
6      14  2.122801e+01                    monomial_monomial